.navbar {
  color: white;
}

.logo {
  width: 1.5rem;
  min-width: 38px;
}

.menu {
  top: 40vw;
  z-index: 40;
}

.category-head {
  color: #fff636;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
}
.menu {
  top: 80%;
  right: 5%;
  background-color: rgb(32, 32, 36);
}

.menu-button {
  height: 32px;
  width: 25px;
  color: white;
}
.invert { filter: invert(100%); }

.button {
  background-color: rgb(18, 18, 20, 1);
}

.button:a {
  color: #fff;
}

.button-none {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.button-none:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.button-none:active {
  outline: none;
  border: none;
}

.button-none:focus {
  outline: 0;
}
