@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap');

body {
  margin: 0;

  background: rgb(23,26,28);
  background: linear-gradient(315deg, rgba(25,29,32,1) 10%, rgba(23,26,28,1) 90%);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;

  font-family: 'Montserrat', sans-serif !important;
  font-weight: 200 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


